<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="XmlFileAppender" />
    </root>

    <appender name="XmlFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Diagnose\Logs\Game.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.XmlLayout">
        <locationInfo value="true" />
      </layout>
    </appender>

    <appender name="SimpleFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\Diagnose\Logs\Game.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

  </log4net>
</configuration>

